body {
  height: auto;
  background: linear-gradient(to top, #003399 0%, #00ffff 100%);
  font-family: 'Lobster', cursive;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 5%;
}

.navdiv {
  background-color: tan;
  width: 100%;
  margin: auto;
  text-align: center;
  border: inset 2px black;
}

button {
  margin-right: 100px;
}

.bigdiv {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: white;
  border: solid 2px black;
  border-radius: 8px;
  padding-bottom: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .CarCon {
    border: solid 2px black;
    display: block;
    float: none;
    margin: 2%
  }

  .contact {
    background-image: url(HawaiiKai.jpg);
    font-size: 2em;
    border: inset 2px black;
    text-align: center;
    color: beige;
    background-color: tan;
  }
}

@media screen and (min-width: 768px) {
  .CarCon {
    border: solid 2px black;
    display: block;
    float: none;
    margin: 2%
  }

  .contact {
    background-image: url(HawaiiKai.jpg);
    font-size: 2em;
    border: inset 2px black;
    text-align: center;
    color: beige;
    background-color: tan;
  }
}

@media screen and (max-width: 576px) {
  .CarCon {
    border: solid 2px black;
    display: block;
    float: none;
    margin: 2%
  }

  .contact {
    background-image: url(HawaiiKai.jpg);
    font-size: 2em;
    border: inset 2px black;
    text-align: center;
    color: beige;
    background-color: tan;
  }
}



.sociallinks {
  text-align: center;
  font-size: 3em;
}
